@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  width: 100vw;
  height: 100vh;
}

body {
  position: fixed;
  font: 18px "Source Code Pro", monospace;
  background: linear-gradient(to top, #3f87a6, #f69d3c);
}

header {
  font: bolder 22px "Source Code Pro", monospace;
  width: 98vw;
  margin: 15px;
  padding: 10px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

div > a {
  margin: 4px;
  padding: 6px;
  color: black;
  text-decoration: none;
  cursor: pointer;
}

div > a:hover {
  color: white;
  background-color: #0f1009;
}

main {
  background: linear-gradient(350deg, #3f87a6, #f69d3c);
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  width: 70%;
  height: 50%;
  text-align: center;
  align-items: center;
  justify-content: center;
}

div.content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4vh;
  margin: 80px;
}

.content a {
  margin: 0 12px;
  padding: 4px;
  border: 1.5px solid #000000;
  border-radius: 4px;
  font: 18px "Source Code Pro", monospace;
  font-weight: bold;
  color: #000000;
  text-align: center;
  text-decoration: none;
}

.content a:hover {
  background: #ffffff;
  color: black;
  opacity: 0.30;
}

div.links {
  position: absolute;
  top: 92%;
  right: 41.5%;
  margin: 4px 10px;
  padding: 2px;
}

footer > a {
  font: bolder 14px "Source Code Pro", monospace;
  color: black;
  text-decoration: none;
  margin: 10px;
  padding: 5px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

footer > a:hover {
  color: white;
}

@media (min-width: 368px) and (max-width: 768px) {
  main {
    background: linear-gradient(350deg, #3f87a6, #f69d3c);
    width: 80vw;
    height: 60vh;
    display: flex;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  div.content {
    font-size: 14px;
    margin: 8px;
    padding: 8px;
    max-width: 69vw;
    max-height: 74vh;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.content a {
    margin: 1vw;
    padding: .5vh;
    width: 14vw;
    height: 6vh;
    font-size: 10px;
    border: 1.5px solid #000000;
    border-radius: 4px;
    text-align: center;
    justify-content: center;
  }

  div.links {
    position: absolute;
    top: 92%;
    right: 25%;
    margin: 4px 10px;
    padding: 6px;
  }

  footer > a {
    font: bolder 12px "Source Code Pro", monospace;
    text-decoration: none;
    margin: 14px;
    padding: 10px;
  }

}