@charset "UTF-8";

/* Todas as demais mídias  */

/* Typical Device Breakpoints 
Phone : de 600px até 768px
Tablet: de 768px até 992px 
Desk: de 992px até 1200px
Grandes telas: acima de 1200px
*/

@media print {
  * {
    font-family: 'Courier New', Courier, monospace;
  }

  body {
    background-image: url('../img/back-print.png');
  }

  main {
    width: 80%;
    border: 2px solid black;
  }

  main::after {
    content: 'Impressão feito através de estudos do curso HTML5 e CSS3 do cursoemvídeo.com';
    text-decoration: overline;
  }

  main h1 {
    text-shadow: none;
    color: black;
  }

  #phone { display: none; }
  #tablet { display: none; }
  #print { display: block; }
  #pc { display: none; }
  #tv { display: none; }

}

@media screen and (min-width: 768px) and (max-width: 992px) {
  body {
    background-image: url('../img/back-tablet.jpg');
  }

  #phone { display: none; }
  #tablet { display: block; }
  #print { display: none; }
  #pc { display: none; }
  #tv { display: none; }

}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  body {
    background-image: url('../img/back-pc.jpg');
  }

  #phone { display: none; }
  #tablet { display: none; }
  #print { display: none; }
  #pc { display: block; }
  #tv { display: none; }

}

@media screen and (min-width: 1200px) {
  body {
    background-image: url('../img/back-tv.jpg');
  }

  main {
    width: 700px;
  }
  
  #phone { display: none; }
  #tablet { display: none; }
  #print { display: none; }
  #pc { display: none; }
  #tv { display: block; }

}